#header
	div#header-wrapper
		div#siser-logo.bgk-img
			p.only-sr Siser
		nav#menu-wrapper
			ul
				li.nav-item
					a.nav-hover(href="/" title="Home") NOSOTROS
				li.nav-item
					a.nav-hover(href="/" title="Servicios") SERVICIOS
					ul.sub-menu
						li.sub-item
							a(href="/services.html" title="Services") SISER
				li.nav-item
					a.nav-hover(href="/contact.html" title="Contact") CONTACTO