section.slide-wrapper
	ul
		li 
			div.slide-img.bgk-img
					ul#controller
						li
							button#prev-btn
						li
							button#next-btn
		li
			p.text-rectangle  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ea pariatur soluta dolorem facere ex. Quam cum neque perspiciatis voluptatem quidem illo quibusdam natus, illum veniam, consequuntur, expedita maiores.
		li
			p.slide-title  EFICIENCIA
