@import 'lib/eases';
/* colors */
$bg-color: #141515;
$blue: #00acc4;
$red: #c40000;

$link-color: $blue;
$link-color: #00acc4;
$text-color: #ffffff;

/* fonts */
$font-regular: 'Source Sans Pro', sans-serif; 

/* media queries */
$mobile: '(max-width: 570px)';
$tablet: '(min-width: 571px) and (max-width: 979px)';
$tablet-portrait: '(max-width: 767px)';
$tablet-landscape: '(min-width: 768px) and (max-width: 979px)';
$desktop: '(min-width: 980px)';
$non-retina: 'screen and (-webkit-max-device-pixel-ratio: 1)';
$retina: '(min--moz-device-pixel-ratio: 1.5), 
                    (-o-min-device-pixel-ratio: 3/2), 
                    (-webkit-min-device-pixel-ratio: 1.5), 
                    (min-device-pixel-ratio: 1.5), 
                    (min-resolution: 144dpi), 
                    (min-resolution: 1.5dppx)';