#footer{
	position: relative;
	z-index: 1;
	ul {
		margin: 0;
		padding: 0;
		text-align: center;
		padding: 10px 0px;
		li {
			list-style: none;
			display: inline-block;
			margin: 0px 10px;
		}
	}
}